.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  /* --primary-color: #22b378 !important; */
  --primary-color: #734f96 !important;
  --secondary-color: rgb(255, 255, 255) !important;
  --primary-color-light: #e4d4eb !important;
  /* --primary-color: rgb(255, 255, 255) !important;
  --secondary-color:   rgba(0,85,80,1) !important; */
  --lite-white-color: #ffffffc2 !important;
  --lite-green-color: rgba(0, 85, 80, 1) !important;
}
